<!DOCTYPE html>
<html>
  <head>
    <title>houseBot</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="node_modules/axios/dist/axios.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> 
  </head>

  <body>

    <div class="container">

      <div class="box">
        <div class="typerBox">
          <h1 class="type">house:Bot </h1>
        </div>
      </div>

      <div class="box">
        <h1>druhe</h1>
      </div>

      <div class="box" id="app">

        <div class="inputs">

          <label for="housing_category"> select flat category:</label>
          <select id="housing_category" name="housing_category" v-model="housing_category">
            <option value="rooms1">1 room</option>
            <option value="rooms2">2 rooms</option>
            <option value="rooms3">3 rooms</option>
            <option value="rooms4">4 rooms</option>
            <option value="rooms5">5+ rooms</option>
            <option value="apartment">apartment</option>
            <option value="mesonet">mesonet</option>
            <option value="bachelors_flat">bachelors flat</option>
          </select>

          <label for="city_area">select city area:</label>
          <select id="city_area" name="city_area" v-model="city_area">
            <option value="kosice">Košice</option>
            <option value="kavecany">Košice 1 - Kavečany</option>
            <option value="sever">Košice 1 - Sever</option>
            <option value="stare_mesto">Košice 1 - Staré Mesto</option>
            <option value="tahanovce">Košice 1 - Ťahanovce</option>
            <option value="loricnik">Košice 2 - Loričník</option>
            <option value="kvp">Košice 2 - Sídlisko KVP</option>
            <option value="zapad">Košice 2 - Západ</option>
            <option value="saca">Košice 2 - Šaca</option>
            <option value="dragovskych_hrdinov">Košice 3 - Dragovských Hrdinov</option>
            <option value="kosicka_nova_ves">Košice 3 - Košická Nová Ves</option>
            <option value="juh">Košice 4 - Juh</option>
            <option value="krasna">Košice 4 - Krásna</option>
            <option value="nad_jazerom">Košice 4 - Nad jazerom</option>
            <option value="vysne_opatské">Košice 4 - Vyšné opatské</option>
          </select>

          <label for="housing_state">select housing state:</label>
          <select id="housing_state" name="housing_state" v-model="housing_state">
            <option value="development_project">Development project</option>
            <option value="complete_reconstruction">Complete reconstruction</option>
            <option value="partial_reconstruction">Partial reconstrucion</option>
            <option value="new">New building</option>
            <option value="original_state">Original state</option>
            <option value="under_construction">Under construction</option>
          </select>
    
          <label for="living_area">Living area:</label>
          <input type="number" id="living_area" name="living_area" step="any" v-model="living_area">

          <label for="land_area">Land area:</label>
          <input type="number" id="land_area" name="land_area" step="any" v-model="land_area">

          <label for="latitude">Latitude of your building (rounded on 7 digits):</label>
          <input type="number" id="latitude" name="latitude" step="any" v-model="latitude">

          <label for="Longitude">Longitude of your building (rounded on 7 digits):</label>
          <input type="number" id="Longitude" name="Longitude" step="any" v-model="longitude">

          <br>
          <button @click="submitForm">Submit</button>
        </div>
        
        

      </div>

    </div>

    <script>
      var app = new Vue({
        el: '#app',
        data: {
          housing_category: null,
          city_area: null,
          housing_state: null,
          living_area: null,
          land_area: null,
          latitude: null,
          longitude: null
        },
        methods: {
          submitForm: function() {
            // Make a POST request to your Python Flask backend
            axios.post('http://127.0.0.1:5000/api/predict_price', {
              housing_category: this.housing_category,
              city_area: this.city_area,
              housing_state: this.housing_state,
              living_area: this.living_area,
              land_area: this.land_area,
              latitude: this.latitude,
              longitude: this.longitude
            })
            .then(function(response) {
              // Handle the response from the server
              console.log(response);
            })
            .catch(function(error) {
              // Handle any errors
              console.log(error);
            });
          }
        }
      });
    </script>
  </body>
</html>
