<!DOCTYPE html>
<html>
  <head>
    <title>houseBot</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="node_modules/axios/dist/axios.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> 
  </head>

  <body>

    <div class="container">

      <div class="box">
        <div class="typerBox">
          <h1 class="type">house:Bot </h1>
        </div>
      </div>

      <div class="box">
        <h1>TODO</h1>
      </div>

      <div class="box" id="app">

        <div class="inputs">

          <label for="housing_category"> select flat category:</label>
          <select id="housing_category" name="housing_category" v-model="housing_category">
            <option value="housing_category_1 izbový byt">1 room</option>
            <option value="housing_category_2 izbový byt">2 rooms</option>
            <option value="housing_category_3 izbový byt">3 rooms</option>
            <option value="housing_category_4 izbový byt">4 rooms</option>
            <option value="housing_category_5 a viac izbový byt">5+ rooms</option>
            <option value="housing_category_Apartmán">apartment</option>
            <option value="housing_category_Mezonet">mesonet</option>
            <option value="housing_category_Garsónka">bachelors flat</option>
          </select>

          <label for="city_area">select city area:</label>
          <select id="city_area" name="city_area" v-model="city_area">
            <option value="city_area_Košice">Košice</option>
            <option value="city_area_Košice I - Kavečany">Košice 1 - Kavečany</option>
            <option value="city_area_Košice I - Sever">Košice 1 - Sever</option>
            <option value="city_area_Košice I - Staré Mesto">Košice 1 - Staré Mesto</option>
            <option value="city_area_Košice I - Ťahanovce">Košice 1 - Ťahanovce</option>
            <option value="city_area_Košice II - Lorinčík">Košice 2 - Loričník</option>
            <option value="city_area_Košice II - Sídlisko KVP">Košice 2 - Sídlisko KVP</option>
            <option value="city_area_Košice II - Západ">Košice 2 - Západ</option>
            <option value="city_area_Košice II - Šaca">Košice 2 - Šaca</option>
            <option value="city_area_Košice III - Dargovských Hrdinov">Košice 3 - Dragovských Hrdinov</option>
            <option value="city_area_Košice III - Košická Nová Ves">Košice 3 - Košická Nová Ves</option>
            <option value="city_area_Košice IV - Juh">Košice 4 - Juh</option>
            <option value="city_area_Košice IV - Krásna">Košice 4 - Krásna</option>
            <option value="city_area_Košice IV - Nad jazerom">Košice 4 - Nad jazerom</option>
            <option value="city_area_Košice IV - Vyšné Opátske">Košice 4 - Vyšné opatské</option>
          </select>

          <label for="housing_state">select housing state:</label>
          <select id="housing_state" name="housing_state" v-model="housing_state">
            <option value="housing_state_Developerský projekt">Development project</option>
            <option value="housing_state_Kompletná rekonštrukcia">Complete reconstruction</option>
            <option value="housing_state_Čiastočná rekonštrukcia">Partial reconstrucion</option>
            <option value="housing_state_Novostavba">New building</option>
            <option value="housing_state_Pôvodný stav ">Original state</option>
            <option value="housing_state_Vo výstavbe">Under construction</option>
          </select>
    
          <label for="living_area">Living area:</label>
          <input type="number" id="living_area" name="living_area" step="any" v-model="living_area">

          <br>
          <button @click="submitForm">Submit</button>
          <br>
          <div id="responseContainer" class="responseHidden">
            <p class="responseText">
              Predicted price is: <br><br> <b><span id="responseValue"></span></b>
            </p>
          </div>

        </div>

      </div>
    </div>

    <script>
      var app = new Vue({
        el: '#app',
        data: {
          housing_category: null,
          city_area: null,
          housing_state: null,
          living_area: null,
        },
        methods: {
          submitForm: function() {
            // Make a POST request to your Python Flask backend
            axios.post('http://127.0.0.1:5000/api/predict_price', {
              housing_category: this.housing_category,
              city_area: this.city_area,
              housing_state: this.housing_state,
              living_area: this.living_area,
            })
            .then(function(response) {
              // Handle the response from the server
              console.log(response);
              document.getElementById('responseContainer').classList.remove('responseHidden');
              document.getElementById('responseValue').innerText = response.data.price;
            })
            .catch(function(error) {
              // Handle any errors
              console.log(error);
            });
          }
        }
      });
    </script>
  </body>
</html>
