*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}



.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    width: 100%;
}

.box{
    /*border: 3px solid red;*/
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.typerBox{
    position: relative;
}

.type{
    font-family: 'VT323', monospace;
    display: inline-block;
    color: #252422;
}

.type::before,
.type::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.type::before{
    background: black;
    animation: 
        typewriter 2s steps(9) 1s forwards;
}

.type::after{
    width: 0.5em;
    background: white;
    border: 2px solid black;;
    animation: 
        typewriter 2s steps(9) forwards 1s,
        blink 500ms steps(9) infinite;
}

@keyframes typewriter{
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
    100% {
        opacity: 0;
    }
}

.inputs{
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: auto;
    grid-gap:15px;
    height: wrap-content;
    width: max-content;
    margin: 0 auto;
}

label{
    /*margin: 5%;
    width: 45%;
    display: block;*/
    text-align: right;
    font-family: 'VT323', monospace;
}

select{
    background-color: #252422;
    color: white;
    -moz-appearance: none; 
    -webkit-appearance: none; 
    appearance: none;
    text-align-last:center; 
    padding: 3px;
}

input{
    background-color: #252422;
    color: white;
    border: none;
    text-align: center;
    border-radius: 5px;
    padding: 3px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

.responseText{
    font-family: 'VT323', monospace;
}

.responseHidden{
    display: none;
}

#responseContainer{
    position: relative;
    padding-top: 20px;
}


